<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.gaurav.cityDir"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>City Directory</name>
 
    <description>
        Find cities of a country
    </description>
 
    <author href="http://gauravgoyal.in" email="me@gauravgoyal.in">
        Gaurav Goyal
    </author>
    <preference name="permissions" value="none"/>
 
</widget>